@font-face {
  font-family: Oswald-Bold;
  src: url("./../Assets/fonts/Oswald-Bold.ttf");
}

@font-face {
  font-family: LexendBold;
  src: url("./../Assets/fonts/LexendBold.ttf");
}

.project-container{
  width: 100%;
  margin-top: 20vh;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  flex-direction: column;
}

.over {
  font-family: Arial, Helvetica, sans-serif;
  color: #e66464;
  text-align: left;
}

.intro-proj {
  margin: 0;
  font-weight: 400;
  font-size: 3vh;
}

.project-items{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  margin-top: 3%;
  justify-content: center;
}

.project-cont{
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.image-cont{
  width: 170vh;
  height: auto;
  border: 2px solid red;
  padding: 2vh;
  border-radius: 2vh;
  flex-wrap: wrap;
}

.project-img{
  width: 100%;
  height: auto
  ;
}

.inner-item-cont{
  display: flex;
  height: 100%;
  width: auto;
  flex-wrap: wrap;
}

.line-cont{
  margin-left: 20%;
  height: 100%;
  width: auto;
}

.parent-innter-pro{
  width: 100%;
  display: flex;
  
}

.date-container{
  margin-left: 5%;
}